@font-face {
    font-weight: 400;
    font-family: Gilroy;
    src: url("../Assets/Fonts/GILROY-REGULAR.TTF");
}

@font-face {
    font-weight: 500;
    font-family: Gilroy;
    src: url("../Assets/Fonts/GILROY-MEDIUM.TTF");
}

@font-face {
    font-weight: 600;
    font-family: Gilroy;
    src: url("../Assets/Fonts/GILROY-SEMIBOLD.TTF");
}

@font-face {
    font-weight: 700;
    font-family: Gilroy;
    src: url("../Assets/Fonts/GILROY-BOLD.TTF");
}
  
html {
    font-size: 14px;
}

body{
    font-family: "Gilroy";
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    align-content: center;
    justify-content: center;
}
.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    

}
.input img {
    width: 1.8rem;
}